<!DOCTYPE html>
<html>
<head>

    <title>Smart Route Planner</title>

    <link rel="stylesheet"href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>

    <div class="container">

        <div class="app-name">
            <h1>
                <i class="fa-solid fa-paper-plane"></i>
                Route-X</h1>
            <span>Smart Route Planner</span>
        </div>
        <div class="tagline">
            <p>
                Find the shortest path,
            </p>
            <p>smarter and faster.</p>
        </div>

<form action="/route" method="POST">

<div class="from">
    <span>From:</span>
    <select name="source">

    {% for city in cities %}

    <option
        {% if city == selected_source %}
        selected
        {% endif %}
    >

    {{city}}

    </option>

    {% endfor %}

</select>

<select name="speed" class="speed">

    <option value="40"

        {% if selected_speed == 40 %}
        selected
        {% endif %}

    >
        40 km/hr
    </option>


    <option value="60"

        {% if selected_speed == 60 %}
        selected
        {% endif %}

    >
        60 km/hr
    </option>


    <option value="80"

        {% if selected_speed == 80 %}
        selected
        {% endif %}

    >
        80 km/hr
    </option>


    <option value="100"

        {% if selected_speed == 100 %}
        selected
        {% endif %}

    >
        100 km/hr
    </option>

</select>

</div>


<div class="to">
    <span>To:</span>
    <select name="destination">

    {% for city in cities %}

    <option

        {% if city == selected_destination %}
        selected
        {% endif %}
    >

    {{city}}

    </option>

    {% endfor %}

    </select>

    <button type="submit" class="sub">
        <i class="fa-solid fa-magnifying-glass"></i>
        Find Route
    </button>
</div>


    

</form>

{% if result %}

<div class="result">

    <h2>Route Information:</h2>

    <div class="path">
        <i class="fa-solid fa-location-dot" style="color: rgb(152, 179, 0);"></i>
        <strong>Path:</strong>
        <br>
        {{ result.path }}
    </div>

    <div class="sub-result">

    <div class="dat"><i class="fa-solid fa-road" style="color: rgb(152, 179, 0);"></i>
        <br>
        <strong>Total distance:</strong>
        <br>
        <br>
        {{ result.distance }} km
    </div>

    <div class="dat"><i class="fa-solid fa-gauge-high" style="color: rgb(152, 179, 0);"></i>
        <br>
        <strong>Average Speed:</strong>
        <br>
        <br>
        {{result.speed}} km/hr
    </div>

    <div class="dat"><i class="fa-regular fa-clock" style="color: rgb(152, 179, 0);"></i>
        <br>
        <strong>Estimated Time:</strong>
        <br>
        <br>
        {{result.time}}
    </div>
    </div>

</div>

{% endif %}

    </div>

</body>
</html>